---
const posts =  [...await Astro.glob('../blog/**/*.mdx')].sort((b, a) => new Date(b.frontmatter?.date) - new Date(a.frontmatter?.date));
const tags =  [
        ... new Set(posts.map(post => post.frontmatter.tags).flat())
    ];
import tagsName from "@data/Topics.js"
import Pages from "@layouts/pages.astro";
---
<Pages content={{title: "المواضيع"}}>
    <div class="pt-3">
		<section id="hero">
			<h1 class="title">قائمة المواضيع</h1>
			<p>
                تستطيع تفقد تدوينات تتحدث عن موضوع معين.
			</p>
		</section>
        <section>
            <ul class="topic">
                {tags.map((item)=> {
                    return (
                        <li class="topic">
                           <section>
                            <h2>
                                {tagsName[item].name}
                            </h2>
                            <ol>
                                {posts.filter((itm) => itm.frontmatter.tags == item)
                                .map((i)=> <li>
                                    <a href={i.url}>{i.frontmatter.title}</a>
                                    </li>)
                                }
                            </ol>
                            <hr />
                           </section>
                        </li>
                    )
                })}
            </ul>
        </section>
	</div>
</Pages>
<style>
	h1.title {
    color: var(--c-primary);
	}
	.pt-3 {
		padding-top: 0.75rem;
	}
	section#hero {
		text-align: center;
    	padding: calc(var(--unit) * 2);
		padding-top: calc(var(--unit) * 4);
		padding-bottom: calc(var(--unit) * 4);
	}
    hr {
        border-color: var(--c-primary-2xlight);
        opacity: 0.5;
        background: var(--c-primary-2xlight);
    }
    ol, ul {
    padding-inline-start: 0;
    }
    ul.topic {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 5px;
        grid-row-gap: 0px;
    }
    @media (max-width: 924px){
        ul.topic {
            grid-template-columns: 1fr;
        }
    }
</style>