---
//let { type = 'button' } = Astro.props;
---
<div>
		<nav role="navigation" class="container">
            <img src="/assests/mushkhbat.svg" alt="logo">
		</nav>
</div>

<style>
img[alt="logo"]{ 
    max-height: 4.25rem;
}
@media (max-width: 720px) {
	img[alt="logo"]{ 
        max-height: 2.5rem;
    }
}
</style>