---
//let { type = 'button' } = Astro.props;
---
<div>
		<nav role="navigation" class="container">
            <div class="logoContainer">
                <a href="/"><img src="/assests/mushkhbat.svg" alt="logo"></a>
            </div>
		</nav>
</div>