---
import Navbar from "@components/Navbar.astro";
import Footer from "@components/Footer.astro";
// import Comment from "@components/Comment";
import Youtube from "@components/Youtube.astro";
const {content} = Astro.props;
const isReview = content.isReview;
let review = {}
if (isReview){
review = { review: {
			  "@type": "Review",
			  "itemReviewed": {
				"@type": content.itemType,
				"image": content.image,
				"name": content.itemName,
			  },
			  "reviewRating": {
				"@type": "Rating",
				"ratingValue": content.review
			  },
			  "name": content.title,
			  "author": {
				"@type": "Person",
				"name": "حمد بنقالي"
			  },
			  "publisher": {
				"@type": "Person",
				"name": "حمد بنقالي",
			  }
			}
			}
}
const toHijri = (date) => {
return new Date("2022/08/26").toLocaleDateString(
  'ar-SA-u-ca-islamic-umalqura',
  { timeZone: 'Asia/Riyadh', month: 'numeric', day: 'numeric', year: 'numeric' }
)
}
---
<html lang="ar" dir="rtl">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@155;435;600;900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/style.css">
		<!-- add title if there is. -->
		<title>{"مشخبط" + (content.title ? " - " + content.title : "")}</title>
		</head>
	<body data-url={content.url}>
		<Navbar from="right" />
		<main>
            <div class="title">
                <h1>{content.title}</h1>
				<div class="datePost">
					<p>{content.dateModified ? "عُدلت" : "كُتبت"} في <time class="textSize-s" datetime={new Date(content.dateModified || content.date).toISOString()} >{toHijri(content.dateModified || content.date)}</time></p>
				</div>
				<hr >
            </div>

            <article class="content" id="article">
                <slot></slot>
            </article>
			<!-- <Comment client:load /> -->
        </main>
		<Footer />
		<script is:inline src="/script.js"></script>
		<script type="application/ld+json" 
		set:html={
		JSON.stringify(
			{
				"@context": "https://schema.org",
				"@type": "BlogPosting",
				"headline": content.title,
				"image": content.image,
				"datePublished": new Date(content.date).toISOString(),
				...(content?.dateModified ? new Date(content?.dateModified).toISOString() : {}),
				"author": {
					"@type": "Person",
					"name": "حمد بنقالي",
					"url": "https://x7md.net/about-me"
					}, ...review })
		}>
		</script>
	</body>
</html>
