---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
const {content} = Astro.props;
---
<html lang="ar" dir="rtl">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@155;435;600;900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/style.css">
		<!-- add title if there is. -->
		<title>{"مشخبط" + (content.title ? " - " + content.title : "")}</title>
		<script src="https://unpkg.com/petite-vue" defer init></script>
		<script src="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.js"></script>
		<link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.css" />
	</head>
	<body data-url={content.url}>
		<Navbar />
		<main>
            <div class="title">
                <h1>{content.title}</h1>
				<div class="datePost">
					<time class="textSize-s">{content.dateModified || content.date}</time>
				</div>
				<hr >
            </div>

            <article class="content">
                <slot></slot>
            </article>
			<div id="firebaseui-auth-container">
				<p>التعليقات: </p>
				<div>
					<div id="login" hidden>
					<p>سجل دخولك، لتتمكن من ترك تعليق</p>
					<button id="gmail" class="login-btn">
							<span>سجل دخول باستخدام قوقل</span>
							<svg aria-hidden="true" focusable="false"role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 488 512">
							<path fill="currentColor" d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"></path>
						</svg>
					</button>
					<button id="twitter" class="login-btn">
						<span>سجل دخول باستخدام تويتر</span>
						<svg xmlns="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" viewBox="0 0 22 22">
						<path fill="currentColor" d="M8.283 20.263c7.547 0 11.676-6.259 11.676-11.677c0-.176 0-.352-.008-.528A8.36 8.36 0 0 0 22 5.928a8.317 8.317 0 0 1-2.36.649a4.129 4.129 0 0 0 1.808-2.273a8.163 8.163 0 0 1-2.61.993A4.096 4.096 0 0 0 15.847 4a4.109 4.109 0 0 0-4.106 4.106c0 .32.04.632.104.936a11.654 11.654 0 0 1-8.46-4.29a4.115 4.115 0 0 0 1.273 5.482A4.151 4.151 0 0 1 2.8 9.722v.056a4.113 4.113 0 0 0 3.29 4.026a4.001 4.001 0 0 1-1.08.144c-.265 0-.521-.024-.77-.072a4.104 4.104 0 0 0 3.834 2.85a8.231 8.231 0 0 1-5.098 1.76c-.328 0-.656-.016-.976-.056a11.674 11.674 0 0 0 6.283 1.833"></path>
						</svg>
					</button>
					</div>
					<div id="commentBox" class="comment-box" hidden>
						<div class="user">
							<img id="userpic" />
							<span id="username"></span>
						</div>
						<form class="comment-area" id="commentForm">
							<textarea id="commentText" name="comment" placeholder="أُكتب تعليقك..." />
							<div class="comment-control">
								<button id="btnSubmit" type="submit">
									إرسال
								</button>
							</div>
						</form>
					</div>
				<div id="commentsList">
					<p style="width: 100%; text-align: center;" id="commentLoading">جاري تحميل التعليقات...</p>
				</div>
			</div>
			</div>
        </main>
		<script type="module" async>
			window.User = {};
			// Import the functions you need from the SDKs you need
			import { initializeApp } from "https://www.gstatic.com/firebasejs/9.8.2/firebase-app.js";
			import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.8.2/firebase-analytics.js";
			import { getAuth, signInWithRedirect, GoogleAuthProvider, TwitterAuthProvider, onAuthStateChanged } from "https://www.gstatic.com/firebasejs/9.8.2/firebase-auth.js";
			// TODO: Add SDKs for Firebase products that you want to use
			// https://firebase.google.com/docs/web/setup#available-libraries
		  
			// Your web app's Firebase configuration
			// For Firebase JS SDK v7.20.0 and later, measurementId is optional
			const firebaseConfig = {
				apiKey: "AIzaSyDIt9d_QOutwM7HM00NCueWKVHm_W9lNqQ",
				authDomain: "mushkhbat-comment.firebaseapp.com",
				projectId: "mushkhbat-comment",
				storageBucket: "mushkhbat-comment.appspot.com",
				messagingSenderId: "385603853271",
				appId: "1:385603853271:web:02d74e043ad0b3d6e4c992",
				measurementId: "G-8GYLDCFYCR"
			};

			document.getElementById("commentForm").addEventListener('submit', async function(e) {
				e.preventDefault();
				const btn = document.getElementById('btnSubmit');
				let textComment = new FormData(e.target).get('comment');
				let userComment = {...User, "commentText": textComment, post: document.body.dataset?.url};
				btn.disabled = true;
				let req =  await fetch("/api/add-comment",
					{
					method: 'POST',
					headers: {
					'Content-Type': 'application/json'
					},
					body: JSON.stringify(userComment)
					})
				document.getElementById('commentsList').innerHTML = `
				<p style="width: 100%; text-align: center;" id="commentLoading">جاري تحميل التعليقات...</p>
				`;
				// Usage!
				sleep(1500).then(() => {
					loadComment();
					btn.disabled = false;
					e.target.reset();
				});
				
			})
			function sleep (time) {
				return new Promise((resolve) => setTimeout(resolve, time));
			}
		let comments = [];
		loadComment();
		async function loadComment(params) {
			try {
			comments = await (await fetch(
				`/api/get-comment/${document.body.dataset?.url}`
			)).json();
			if (comments.length > 0){
				document.getElementById("commentLoading").hidden = true;
				comments.forEach((comment)=> {
					const cmBox = document.createElement('div');
					cmBox.className = "comment-box";
					const userBox = document.createElement('div');
					userBox.className = "user"
					const userName = document.createElement('span');
					userName.textContent = comment[2].name;
					const userPic = document.createElement('img');
					userPic.className = "user-pic"
					userPic.crossOrigin = "Anonymous";
					userPic.src = comment[2].pic;
					const cmText = document.createElement('div');
					cmText.className = "comment-text";
					cmText.dir = "auto";
					const cmTextContent = document.createElement('p');
					cmTextContent.textContent = comment[1];
					/* */
					userBox.append(userPic);
					userBox.append(userName);
					cmText.append(cmTextContent);

					cmBox.append(userBox);
					cmBox.append(cmText);
					document.getElementById("commentsList").prepend(cmBox);
				})
			} else {
				document.getElementById("commentLoading").hidden = false;
				document.getElementById("commentLoading").textContent = "لا توجد تعليقات.";
			}
			} catch (error) {
				document.getElementById("commentLoading").hidden = false;
				document.getElementById("commentLoading").textContent = "حصلت مشكلة أثناء جلب التعليقات...";
			}
		}
			// Initialize Firebase
			const app = initializeApp(firebaseConfig);
			const analytics = getAnalytics(app);
			const auth = getAuth(app);
			const providerG = new GoogleAuthProvider();
			const providerTW = new TwitterAuthProvider();
			providerG.addScope('profile');
			providerG.addScope('email');
			onAuthStateChanged(auth, (user) => {
				document.getElementById("login").hidden = true;
				if (user) {
					// User is signed in, see docs for a list of available properties
					// https://firebase.google.com/docs/reference/js/firebase.User
					const uid = user.uid;
					console.log(uid);
					User = {uid: uid, name: user.displayName, pic: user.photoURL}
					document.getElementById("commentBox").hidden = false;
					document.getElementById("username").textContent = user.displayName;
					document.getElementById("userpic").src = user.photoURL;
					document.getElementById("userpic").crossOrigin = "Anonymous";
					// ...
				} else {
					// User is signed out
					// ...
					document.getElementById("login").hidden = false;
					document.getElementById("commentBox").hidden = true;
				}
			});

			document.getElementById("twitter").addEventListener("click", 
			function () {
				signInWithRedirect(auth, providerTW);
			}
				)
			document.getElementById("gmail").addEventListener("click", 
			function () {
				signInWithRedirect(auth, providerG);
			}
				)
			// var ui = new firebaseui.auth.AuthUI(app.auth());
		  </script>
		<Footer />
	</body>
</html>
