---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
const {content} = Astro.props;
---
<html lang="ar" dir="rtl">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@155;435;600;900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/style.css">
		<!-- add title if there is. -->
		<title>{"مشخبط" + (content.title ? " - " + content.title : "")}</title>
		<script src="https://unpkg.com/petite-vue" defer init></script>
		<script src="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.js"></script>
		<link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.css" />
	</head>
	<body>
		<Navbar />
		<main>
            <div class="title">
                <h1>{content.title}</h1>
				<div class="datePost">
					<time class="textSize-s">{content.dateModified || content.date}</time>
				</div>
				<hr >
            </div>

            <article class="content">
                <slot></slot>
            </article>
			<div id="firebaseui-auth-container">
				<p>التعليقات: </p>
				<div>
					<div id="login">
						<button id="test_">
							test
						</button>
					</div>
				<div>
					التعليقات
				</div>
			</div>
			</div>
        </main>
		<script type="module">
			// Import the functions you need from the SDKs you need
			import { initializeApp } from "https://www.gstatic.com/firebasejs/9.8.2/firebase-app.js";
			import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.8.2/firebase-analytics.js";
			import { getAuth, signInWithRedirect, GoogleAuthProvider, TwitterAuthProvider, onAuthStateChanged } from "https://www.gstatic.com/firebasejs/9.8.2/firebase-auth.js";
			// TODO: Add SDKs for Firebase products that you want to use
			// https://firebase.google.com/docs/web/setup#available-libraries
		  
			// Your web app's Firebase configuration
			// For Firebase JS SDK v7.20.0 and later, measurementId is optional
			const firebaseConfig = {
				apiKey: "AIzaSyDIt9d_QOutwM7HM00NCueWKVHm_W9lNqQ",
				authDomain: "mushkhbat-comment.firebaseapp.com",
				projectId: "mushkhbat-comment",
				storageBucket: "mushkhbat-comment.appspot.com",
				messagingSenderId: "385603853271",
				appId: "1:385603853271:web:02d74e043ad0b3d6e4c992",
				measurementId: "G-8GYLDCFYCR"
			};

			
			// Initialize Firebase
			const app = initializeApp(firebaseConfig);
			const analytics = getAnalytics(app);
			const auth = getAuth(app);
			const providerG = new GoogleAuthProvider();
			const providerTW = new TwitterAuthProvider();
			providerG.addScope('profile');
			providerG.addScope('email');
			onAuthStateChanged(auth, (user) => {
				if (user) {
					// User is signed in, see docs for a list of available properties
					// https://firebase.google.com/docs/reference/js/firebase.User
					const uid = user.uid;
					console.log(uid);
					console.log(user);
					// ...
				} else {
					// User is signed out
					// ...
					console.warn("nothing...");
				}
			});

			document.getElementById("test_").addEventListener("click", 
			function test_() {
				signInWithRedirect(auth, providerTW);
			}
				)
			// var ui = new firebaseui.auth.AuthUI(app.auth());
		  </script>
		<Footer />
	</body>
</html>
